
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> php-cs-fixer/shim ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< php-cs-fixer/shim ###


/.env.dev
/.env.dev.php
/.env.test
/.env.test.php
/.env.prod
/.env.prod.php


# Secrets
/config/secrets/*/*.decrypt.private.php
/config/secrets/*/*.encrypt.public.php
/config/secrets/*/.gitignore
/config/secrets/*/*.key

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
